/*
* Style Works for both Editor and Frontend
*/

.wp-block-naviddev-gutenberg-blocks-block-test {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}


/* Добавляем нижний отступ к группе кнопок */
.components-button-group {
    margin-bottom: 16px!important; /* Установите желаемое значение отступа */
}


.icon-group {
    border: 1px solid #777;
    padding: 20px;
}
