.naviddev-column {
	position: relative;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	margin-bottom: 0.75rem;
	background-color: rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
